.unit-card {
    background-size: cover;
    &.riflemen-image {
        background-image: url('../images/cardImages/unsc/riflemen.png');
    }
    &.reconTeam-image {
        background-image: url('../images/cardImages/unsc/reconTeam.png')
    }
    &.fireSupport-image {
        background-image: url('../images/cardImages/unsc/fireSupport.png')
    }
    &.flameMarines-image {
        background-image: url('../images/cardImages/unsc/flameMarines.png')
    }
    &.officer-image {
        background-image: url('../images/cardImages/unsc/officer.png')
    }
    &.odstHelljumper-image {
        background-image: url('../images/cardImages/unsc/odstHelljumper.png')
    }
    &.odstAirAssault-image {
        background-image: url('../images/cardImages/unsc/odstAirAssault.png')
    }
    &.spartan3-image {
        background-image: url('../images/cardImages/unsc/spartan3.png')
    }
    &.warthog-image {
        background-image: url('../images/cardImages/unsc/warthog.png')
    }
    &.gaussHog-image {
        background-image: url('../images/cardImages/unsc/gaussHog.png')
    }
    &.rocketHog-image {
        background-image: url('../images/cardImages/unsc/rocketHog.png')
    }
    &.mongoose-image {
        background-image: url('../images/cardImages/unsc/mongoose.png')
    }
    &.scorpion-image {
        background-image: url('../images/cardImages/unsc/scorpion.png')
    }
    &.sunDevil-image {
        background-image: url('../images/cardImages/unsc/sunDevil.png')
    }
    &.cyclops-image {
        background-image: url('../images/cardImages/unsc/cyclops.png')
    }
    &.falcon-image {
        background-image: url('../images/cardImages/unsc/falcon.png')
    }
    &.hornet-image {
        background-image: url('../images/cardImages/unsc/hornet.png')
    }
    &.longsword-image {
        background-image: url('../images/cardImages/unsc/longsword.png')
    }
    &.pelican-image {
        background-image: url('../images/cardImages/unsc/pelican.png')
    }

    &.aaWraith-image {
        background-image: url('../images/cardImages/covenant/aaWraith.png')
    }
    &.artilleryWraith-image {
        background-image: url('../images/cardImages/covenant/artilleryWraith.png')
    }
    &.banshee-image {
        background-image: url('../images/cardImages/covenant/banshee.png')
    }
    &.eliteAssault-image {
        background-image: url('../images/cardImages/covenant/eliteAssault.png')
    }
    &.eliteGeneral-image {
        background-image: url('../images/cardImages/covenant/eliteGeneral.png')
    }
    &.eliteMinor-image {
        background-image: url('../images/cardImages/covenant/eliteMinor.png')
    }
    &.eliteOfficer-image {
        background-image: url('../images/cardImages/covenant/eliteOfficer.png')
    }
    &.eliteUltra-image {
        background-image: url('../images/cardImages/covenant/eliteUltra.png')
    }
    &.eliteUltraOfficer-image {
        background-image: url('../images/cardImages/covenant/eliteUltraOfficer.png')
    }
    &.eliteZealot-image {
        background-image: url('../images/cardImages/covenant/eliteZealot.png')
    }
    &.gruntLevies-image {
        background-image: url('../images/cardImages/covenant/gruntLevies.png')
    }
    &.hunters-image {
        background-image: url('../images/cardImages/covenant/hunters.png')
    }
    &.jackalAssault-image {
        background-image: url('../images/cardImages/covenant/jackalAssault.png')
    }
    &.jackalMarksmen-image {
        background-image: url('../images/cardImages/covenant/jackalMarksmen.png')
    }
    &.locust-image {
        background-image: url('../images/cardImages/covenant/locust.png')
    }
    &.phantom-image {
        background-image: url('../images/cardImages/covenant/phantom.png')
    }
    &.revenant-image {
        background-image: url('../images/cardImages/covenant/revenant.png')
    }
    &.scoutGhost-image {
        background-image: url('../images/cardImages/covenant/scoutGhost.png')
    }
    &.seraph-image {
        background-image: url('../images/cardImages/covenant/seraph.png')
    }
    &.stormGhost-image {
        background-image: url('../images/cardImages/covenant/stormGhost.png')
    }
    &.vampire-image {
        background-image: url('../images/cardImages/covenant/vampire.png')
    }
}      