*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	overflow: hidden;
	font-family: Arial;
}

body {
	background-color: rgb(18, 18, 18);
	overflow-y: auto;
}