.item-container {
	position: relative;
	margin-top: 60px;
	opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    & .unit-card-close {
        position: absolute;
        top: -30px;
        right: 0;
        cursor: pointer;
    }

    & #unitCardContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: auto;
        gap: 10px 10px;

        & .unit-card {
            position: relative;
            background-color: rgb(99, 99, 99);
            width: 100%;
            height: 100%;
            min-height: 200px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;

            & .unit-control-bar {
                position: absolute;
                bottom: 10px;
                left: 0px;
                background-color: rgba(0,0,0,0.6);
                width: 100%;
                height: auto;
                padding: 10px 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                transform: translateY(100px);
                transition: transform .3s;

                & .control-bar-text {
                    display: flex;
                    font-size: 12px;
                    align-items: flex-end;
                    justify-content: center;
                    flex-flow: column wrap;
                }

                & .add-unit-button {
                    @include flex-item;
                    background-color: rgb(77, 179, 0);
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 0 20px;
                }
            }

            &:hover .unit-control-bar {
                transform: translateY(0);
            }
        }
    }
}

@media only screen and (max-device-width: 600px) {
    .item-container {
        background-color: #303030;
        position: absolute;
        max-width: 100%;
        margin-top: 0;
        left: 0;

        & .unit-card-close {
            top: 10px;
            right: 30px;
        }

        & #unitCardContainer {
            background-color: #303030;
            width: 100vw;
            padding: 20px;
            grid-template-columns: 1fr;
            margin-top: 30px;
        }

    }
}