*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow: hidden;
  font-family: Arial;
}

body {
  background-color: #121212;
  overflow-y: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

.content-wrapper {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  width: 100%;
  background-color: #303030;
  padding: 10px;
  color: white;
}

.multi-grid {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.list-container .list-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-container .list-menu-bar .faction-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 120px;
  cursor: pointer;
}

.list-container .list-menu-bar .list-icon-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-container .list-menu-bar .list-icon-holder .list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #424242;
  cursor: pointer;
}

.list-container .list-menu-bar .list-icon-holder #commanderButton.active {
  background-color: #708a48;
}

.list-container .list-menu-bar .list-point-value .build-rating-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-container .list-menu-bar .list-point-value .build-rating-holder p {
  font-size: 12px;
  margin: 0 10px;
  opacity: 0.5;
}

.list-container .list-menu-bar .list-point-value .build-rating-holder p:first-child {
  margin-left: 0;
}

.list-container .built-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.list-container .built-list .added-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
  position: relative;
  width: 100%;
}

.list-container .built-list .added-unit .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0;
}

.list-container .built-list .added-unit .top-row p {
  font-weight: bold;
}

.list-container .built-list .added-unit .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-container .built-list .added-unit .bottom-row p {
  margin: 0 5px;
  font-size: 12px;
}

.list-container .built-list .added-unit .add-unit-small {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.list-container .built-list .added-unit .remove-unit-button {
  position: absolute;
  right: 30px;
  bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .list-container {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.item-container {
  position: relative;
  margin-top: 60px;
  opacity: 0;
  pointer-events: none;
}

.item-container.active {
  opacity: 1;
  pointer-events: initial;
}

.item-container .unit-card-close {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}

.item-container #unitCardContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px 10px;
}

.item-container #unitCardContainer .unit-card {
  position: relative;
  background-color: #636363;
  width: 100%;
  height: 100%;
  min-height: 200px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.item-container #unitCardContainer .unit-card .unit-control-bar {
  position: absolute;
  bottom: 10px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.item-container #unitCardContainer .unit-card .unit-control-bar .control-bar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.item-container #unitCardContainer .unit-card .unit-control-bar .add-unit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4db300;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 20px;
}

.item-container #unitCardContainer .unit-card:hover .unit-control-bar {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (max-width: 600px) {
  .item-container {
    background-color: #303030;
    position: absolute;
    max-width: 100%;
    margin-top: 0;
    left: 0;
  }
  .item-container .unit-card-close {
    top: 10px;
    right: 30px;
  }
  .item-container #unitCardContainer {
    background-color: #303030;
    width: 100vw;
    padding: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

.unit-card {
  background-size: cover;
}

.unit-card.riflemen-image {
  background-image: url("../images/cardImages/unsc/riflemen.png");
}

.unit-card.reconTeam-image {
  background-image: url("../images/cardImages/unsc/reconTeam.png");
}

.unit-card.fireSupport-image {
  background-image: url("../images/cardImages/unsc/fireSupport.png");
}

.unit-card.flameMarines-image {
  background-image: url("../images/cardImages/unsc/flameMarines.png");
}

.unit-card.officer-image {
  background-image: url("../images/cardImages/unsc/officer.png");
}

.unit-card.odstHelljumper-image {
  background-image: url("../images/cardImages/unsc/odstHelljumper.png");
}

.unit-card.odstAirAssault-image {
  background-image: url("../images/cardImages/unsc/odstAirAssault.png");
}

.unit-card.spartan3-image {
  background-image: url("../images/cardImages/unsc/spartan3.png");
}

.unit-card.warthog-image {
  background-image: url("../images/cardImages/unsc/warthog.png");
}

.unit-card.gaussHog-image {
  background-image: url("../images/cardImages/unsc/gaussHog.png");
}

.unit-card.rocketHog-image {
  background-image: url("../images/cardImages/unsc/rocketHog.png");
}

.unit-card.mongoose-image {
  background-image: url("../images/cardImages/unsc/mongoose.png");
}

.unit-card.scorpion-image {
  background-image: url("../images/cardImages/unsc/scorpion.png");
}

.unit-card.sunDevil-image {
  background-image: url("../images/cardImages/unsc/sunDevil.png");
}

.unit-card.cyclops-image {
  background-image: url("../images/cardImages/unsc/cyclops.png");
}

.unit-card.falcon-image {
  background-image: url("../images/cardImages/unsc/falcon.png");
}

.unit-card.hornet-image {
  background-image: url("../images/cardImages/unsc/hornet.png");
}

.unit-card.longsword-image {
  background-image: url("../images/cardImages/unsc/longsword.png");
}

.unit-card.pelican-image {
  background-image: url("../images/cardImages/unsc/pelican.png");
}

.unit-card.aaWraith-image {
  background-image: url("../images/cardImages/covenant/aaWraith.png");
}

.unit-card.artilleryWraith-image {
  background-image: url("../images/cardImages/covenant/artilleryWraith.png");
}

.unit-card.banshee-image {
  background-image: url("../images/cardImages/covenant/banshee.png");
}

.unit-card.eliteAssault-image {
  background-image: url("../images/cardImages/covenant/eliteAssault.png");
}

.unit-card.eliteGeneral-image {
  background-image: url("../images/cardImages/covenant/eliteGeneral.png");
}

.unit-card.eliteMinor-image {
  background-image: url("../images/cardImages/covenant/eliteMinor.png");
}

.unit-card.eliteOfficer-image {
  background-image: url("../images/cardImages/covenant/eliteOfficer.png");
}

.unit-card.eliteUltra-image {
  background-image: url("../images/cardImages/covenant/eliteUltra.png");
}

.unit-card.eliteUltraOfficer-image {
  background-image: url("../images/cardImages/covenant/eliteUltraOfficer.png");
}

.unit-card.eliteZealot-image {
  background-image: url("../images/cardImages/covenant/eliteZealot.png");
}

.unit-card.gruntLevies-image {
  background-image: url("../images/cardImages/covenant/gruntLevies.png");
}

.unit-card.hunters-image {
  background-image: url("../images/cardImages/covenant/hunters.png");
}

.unit-card.jackalAssault-image {
  background-image: url("../images/cardImages/covenant/jackalAssault.png");
}

.unit-card.jackalMarksmen-image {
  background-image: url("../images/cardImages/covenant/jackalMarksmen.png");
}

.unit-card.locust-image {
  background-image: url("../images/cardImages/covenant/locust.png");
}

.unit-card.phantom-image {
  background-image: url("../images/cardImages/covenant/phantom.png");
}

.unit-card.revenant-image {
  background-image: url("../images/cardImages/covenant/revenant.png");
}

.unit-card.scoutGhost-image {
  background-image: url("../images/cardImages/covenant/scoutGhost.png");
}

.unit-card.seraph-image {
  background-image: url("../images/cardImages/covenant/seraph.png");
}

.unit-card.stormGhost-image {
  background-image: url("../images/cardImages/covenant/stormGhost.png");
}

.unit-card.vampire-image {
  background-image: url("../images/cardImages/covenant/vampire.png");
}
/*# sourceMappingURL=main.css.map */